body {
    background: rgb(227, 222, 213);
}

.ui.secondary.menu {
    background-color: whitesmoke;
    margin-bottom: 0;
}

#main-content {
    margin-top: 0;
    margin-bottom: 0;
    width: 100vw;
    min-height: calc(100vh - 2.85714286em);
    background: rgb(62, 80, 138);
}