body {
    background: rgb(227, 222, 213);
}

.ui.secondary.menu {
    background-color: rgb(250, 250, 250);
    margin-bottom: 0;
}

#main-content {
    margin-top: 0;
    margin-bottom: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgb(62, 80, 138);
}

.ui.message.flash {
    position: fixed;
    z-index: 10;
    bottom: 2em;
    right: 3em;
    max-width: 420px;
}

.ui.card>.content>.description.list-body {
    max-height: 80px;
    overflow-y: hidden;
}

.ui.card .meta * {
    margin: 0;
}

.ui.card .header {
    font-size: 2rem;
}

.card>.content>.grid>.column {
    padding: .75rem;
}

#post-header {
    padding-bottom: 0;
    padding-top: .5rem;
}

#post-meta {
    margin-bottom: .25rem;
}